// -------------------------------Root
:root {
        --primary_color_1: #2d1400;
        --primary_color_2: #704e2e;
        --secondary_color_1: #6c9961;
        --secondary_color_2: #9ad6b0;
        --tertiary_color_1: #fdf6c5;
        --header_text_color_1: #fdf6c5;
}

// -------------------------------Father
body,
body * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        vertical-align: top;
}
// -------------------------------Body
body {
        > .background_main {
                display: inline-block;
                float: left;
                width: 100vw;
                height: 100vh;
                position: absolute;
                background-image: url(../sources/sources/Background_images/background_image_1.jpg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                filter: blur(2px) opacity(0.6);
        }
        > .logo_upiu-tevas_1 {       
                background: url(../sources/sources/logo_example_v1.png);
                height: 120px;
                width: 150px;
                position: absolute;
                top: 15px;
                right: 15px;
                display: inline-block;
                float: left;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                
        }
       
        > .header_area {
                display: inline-block;
                float: left;
                width: 12vw;
                height: 92vh;
                margin-top: 4vh;
                margin-bottom: 4vh;
                margin-left: 30px;
                background-color: var(--primary_color_1);
                border-radius: 10px;
                position: absolute;
                filter: opacity(0.8);
                color: var(--header_text_color_1);
                min-width: 160px;
        }
}
