// -------------------------------Root
:root {
    --primary_color_1: #2d1400;
    --primary_color_2: #704e2e;
    --secondary_color_1: #6c9961;
    --secondary_color_2: #9ad6b0;
    --tertiary_color_1: #fdf6c5;
    --tertiary_color_2: #e6e6fa;
    --header_text_color_1: #fdf6c5;
}
// -------------------------------Father
body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
}
// -------------------------------Body-----------------------------------
body {  //bodis uzsidaro paciam gale, all good
    // -------------------------------Background parameters
    > .background_main {
        display: inline-block;
        float: left;
        width: 100vw;
        height: 100vh;
        position: fixed;
        overflow: hidden;
        background-image: url(../sources/sources/Background_images/background_image_3.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: blur(4px) opacity(0.8);
    }
    // -------------------------------global styles
    * .header_button_style {
        display: inline-block;
        float: left;
        width: 100%;
        height: 25px;
        background-color: var(--secondary_color_1);
        border-radius: 5px;
        margin-top: 10px;
        color: var(--header_text_color_1);
        text-align: center;
        font-size: 23px;
        cursor: pointer;
    }
    * .sort_menu_area_separation_lines_invisible {
        display: none;
    }

    * .sort_menu_area_separation_lines_visible {
        display: inline-block;
        float: left;
        width: 90%;
        height: 1px;
        background-color: var(--primary_color_1);
        filter: opacity(0.5);
        margin-top: 5px;
        margin-left: calc((100% - 90%) / 2 );
    }
// -------------------------------Header section-----next file------------


























} //visos header area užsidarymas




























} //body užsidarymas